node_modules/
package-lock.json
package-lock0.json
package.json
*.tmp
src/python/VSOP87B_data/VSOP87B_Earth.txt
src/python/VSOP87B_data/VSOP87B_Mercury.txt
src/python/VSOP87B_data/VSOP87B_Venus.txt
src/python/VSOP87B_data/VSOP87B_Mars.txt
src/python/VSOP87B_data/VSOP87B_Jupiter.txt
src/python/VSOP87B_data/VSOP87B_Saturn.txt
